<div mat-dialog-content>
  <div class="ui form">
    <div class="field">
      <label class=ui>Object:</label>
      <app-lend-object [selected]='false' [selectable]='false' [lendObject]=object></app-lend-object>
    </div>
    <div class="row">
      <div class=" field col-12 col-md-6">
        <label>Owner:</label>
        <div>
          <fa name=user-circle size=2x></fa>
          <h5 class="josefin inline">{{object.owner.name}}</h5>
        </div>
      </div>
      <div class=" field col-12 col-md-6">
          <label>Current User:</label>
          <div>
            <fa *ngIf=object.user name=user-circle size=2x></fa>
            <h5 [ngClass]="{smallerFont:!object.user}" class="inline josefin">{{object.user?.name||" No current user"}}</h5>
          </div>
        </div>
    </div>
    <div *ngIf=object.rules class="field">
      <label>Rules:</label>
      <textarea class='font-black' [rows]="object.rules!==undefined?5:1" readonly="">{{object.rules||""}}</textarea>
    </div>
    <label *ngIf='object.waitinglist.length>0||object.user'>Waitinglist:</label>
    <div *ngIf='object.waitinglist.length>0|| object.user' class="field waitinglist">
        <div *ngIf=object.user class='ui full card padding' [ngClass]="{'green':!object.expired,'red':object.expired}">
          <div class="josefin padding">  
            {{object.user.name}} from {{object.user.fromdate|date:'dd/MM/yyyy'}} to {{object.user.todate|date:'dd/MM/yyyy'}}
          </div> 
        </div>
        <div class='ui full card padding' *ngFor='let usage of orderedlist(object)'>
            <div class="josefin padding">{{usage.name}} from {{usage.fromdate|date:'dd/MM/yyyy'}} to {{usage.todate|date:'dd/MM/yyyy'}}</div>
        </div>
    </div>
  </div>
</div>
